<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.UserMapper">

    <!--常用字段-->
    <sql id="selectField">
        id, username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>

    <sql id="insertField">
        username, password, salt, email, type, status, activation_code, header_url, create_time
    </sql>


   <select id="selectById" resultType="user">
       select <include refid="selectField"></include>
       from user
--        引入参数中的ID
       where id = #{id}
   </select>

    <select id="selectByName" resultType="user">
       select id, username, password, salt, status, activation_code, header_url, create_time
       from user
       where username = #{username}
   </select>

    <select id="selectByEmail" resultType="user">
       select id, username, password, salt, status, activation_code, header_url, create_time
       from user
       where email = #{email}
   </select>

    <!--id是自己增加的-->
    <insert id="insertUser" parameterType="user" keyProperty="id">
        insert into user (<include refid="insertField"></include>)
        values (#{username}, #{password}, #{salt}, #{email}, #{type}, #{status}, #{activationCode}, #{headerUrl}, #{createTime})
    </insert>

    <update id="updateStatus">
        update user set status = #{status} where id = #{id}
    </update>

    <update id="updateHeader">
        update user set header_url = #{header} where id = #{id}
    </update>

    <update id="updatePassword">
        update user set password = #{password} where id = #{id}
    </update>

    <select id="selectCommentById" resultType="Comment">
        select <include refid="selectField"></include>
        from comment
        where id = #{id}
    </select>
</mapper>